body {
  font-family: "PT Mono", monospace;
  background: #ffffff;
}

h1 {
  font-weight: 700;
  font-size: 24px;
  font-weight: 100;
  line-height: 48px;
  margin-bottom: 0;
}

small {
  font-size: 15px;
  text-align: center;
}

li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 300;
  line-height: 19px;
}

li.firstletter {
  text-transform: capitalize;
}

ul {
  margin: 0;
  padding: 0;
}

.Enteracity {
  position: relative;
  top: -31px;
  left: 99px;
}
.search {
  position: relative;
  top: 50;
  left: 100px;
}
.current {
  position: relative;
  top: 30px;
  left: 100px;
}
.search-form {
  margin-bottom: 30px;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
  background-image: url(https://assets.msn.com/weathermapdata/1/static/background/v2.0/compactads3/Clear%20Night.png);
}
.weather-app {
  padding: 20px;
  border: 1px solid navy;
  border-radius: 10px;
}

.overview {
  margin-bottom: 20px;
}
.weather-tempreature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}

.weather-temperature .unit {
  position: relative;
  font-size: 16px;
  top: -34px;
}
.container {
  color: #fff;
}
