body {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-weight: 500;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
}

h2 {
  font-weight: normal;
  font-size: 18px;
}

small {
  font-size: 15px;
  text-align: center;
  font-family: "PT Mono", monospace;
}
li {
  list-style-type: none;
  font-size: 18px;
  font-weight: 300;
  line-height: 19px;
}

ul {
  margin: 0;
  padding: 0;
}
.container {
  border-radius: 4px;
  background: linear-gradient(to top, #5585b5 7%, white 93%);
  max-width: 600px;
  margin: 20;
}
.Enteracity {
  position: relative;
  top: -31px;
  left: 99px;
}
.search {
  position: relative;
  top: 50;
  left: 100px;
}
.current {
  position: relative;
  top: 30px;
  left: 100px;
}
.search-form {
  margin-bottom: 20px;
}
.weather-app {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #5585b5;
  border-radius: 5px;
}
.currentTemperature {
  font-size: 40px;
  position: relative;
  top: 10px;
  left: 50px;
  line-height: 1;
}
