body {
  font-family: "PT Mono", monospace;
  background: #ffffff;
}

h1 {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 0;
}

small {
  font-size: 15px;
  color: #000;
}

li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 300;
  line-height: 19px;
}

li {
  text-transform: capitalize;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.Enteracity {
  position: relative;
  top: -31px;
  left: 99px;
}
.search {
  position: relative;
  top: 50;
  left: 100px;
}
.current {
  position: relative;
  top: 30px;
  left: 100px;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}
.weather-app {
  max-width: 600px;
  padding: 20px;
  border-radius: 1px solid #000;
  border-radius: 5px;
  background-image: url(https://assets.msn.com/weathermapdata/1/static/background/v2.0/compactads3/Clear%20Night.png);
}

.overview {
  margin-bottom: 20px;
}
.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}
.units {
  position: relative;
  font-size: 16px;
  top: -34px;
}
.container {
  color: #fff;
  max-width: 600px;
  margin: 30px auto;
}

.weather-temperature .active {
  color: wheat;
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}
.weather-forecast {
  margin-top: 20px;
  text-align: center;
}

.weather-forecast-date {
  font-size: 18px;
  opacity: 0.5;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

.weather-forecast-temperatures {
  font-size: 16px;
}
